html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f8f9fa;
    color: #343a40;
}

.navbar {
    background-color: #ffffff;
}

.nav-link {
    color: #343a40;
}

.btn {
    color: #343a40;
    border-color: #343a40;
}

.form-container {
    background-color: #ffffff;
    color: #343a40;
}

.footer {
    background-color: #f8f9fa;
}

.footer p {
    color: #343a40;
}
